
extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 #{tier} #{rank} #{lp} LP
  h1(id='inGame') #{inGame}
  script.
    var summonerName = !{JSON.stringify(summonerName)}; 
    setInterval(function(){
      fetch( "/rank", {
        method: 'get'
        }).then(function(res){
          res.json().then((json) => document.getElementById('inGame').innerHTML = json.a);
          }).catch(function(err){
            console.log(err);
          });
        }, 15000)

        
